@page "/Auth/ForgotPassword"
@using WebClient.Components.Layout
@using WebClient.Services.Api
@using WebClient.Services.Components
@inject AuthService AuthService
@inject ToastService ToastService
@inject NavigationManager NavManager
@inject IJSRuntime Js
@layout AuthLayout
@rendermode InteractiveServer
@using global::Shared.DTOs
@using WebClient.Components.Shared.Loadings

<!-- لود کردن فایل استایل انیمیشن -->
<link href="css/LoginAnimationStyle.css" rel="stylesheet" />

<div class="hero bg-base-200 min-h-screen" id="forgotPage">
    <div class="hero-content flex-col lg:flex-row-reverse items-center gap-20">

        <!-- تصویر سمت راست با متن زیر آن -->
        <div class="flex-1 hidden lg:flex flex-col items-center">
            <img src="images/forgotPaswordd.svg" alt="فراموشی رمز" class="max-w-md w-full animate-fade-in" />
            @* <h2 class="text-2xl font-bold text-center">فراموشی رمز عبور</h2> *@
        </div>

        <!-- کارت فراموشی رمز -->
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl p-6">
            <div class="card-body">
                <!-- عنوان بالا کارت -->
                <h2 class="text-3xl font-bold mb-6 text-center lg:text-right">فراموشی رمز عبور</h2>

                <fieldset class="fieldset">
                    <label class="label">نام کاربری</label>
                    <input @bind="_userNameOrEmail" type="text" class="input input-bordered" placeholder="نام کاربری" />

                    <LoadingBtn ButtonText="ارسال کد بازیابی" IsLoading="_isBusy" OnClick="ForgotPasswordAsync"
                                CssClass="mt-4 w-full"></LoadingBtn>

                    <div class="mt-4 text-center">
                        <a @onclick="GoToLogin" class="link link-hover text-sm cursor-pointer">
                            بازگشت به صفحه ورود
                        </a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

@code {
    private string _userNameOrEmail = "";
    private bool _isBusy;

    private async Task ForgotPasswordAsync()
    {
        try
        {
            _isBusy = true;
            await AuthService.SendResetPasswordOtpAsync(_userNameOrEmail);

            ToastService.ShowSuccess("کد تأیید برای بازیابی رمز عبور ارسال شد.");
            NavManager.NavigateTo("/Auth/Login");
        }
        catch
        {
            ToastService.ShowError("خطا در ارسال درخواست. لطفاً دوباره تلاش کنید.");
        }
        finally
        {
            _isBusy = false;
        }
    }

    private async Task GoToLogin()
    {
        // اجرای انیمیشن
        await Js.InvokeVoidAsync("eval", "document.getElementById('forgotPage').classList.add('page-transition');");
        // صبر برای پایان انیمیشن
        await Task.Delay(600);
        // ریدایرکت
        NavManager.NavigateTo("/Auth/Login");
    }
}
