<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- Target برای SQL Server -->
		<target xsi:type="Database" name="sqlServerTarget"
				connectionString="Data Source=.;Initial Catalog=UnitSchedulerDb;Encrypt=False;User Id=dev;Password=1qaz@WSX3edc">
			<commandText>
				INSERT INTO rad.Logs (
				TimeStamp, Level, Message, Exception, CallSite, ThreadId, UserName, IpAddress, RequestId, UserAgent, CreateDate, PhysicalPath
				) VALUES (
				@time_stamp, @level, @message, @exception, @call_site, @thread_id, @user_name, @ip_address, @request_id, @user_agent, @create_date, @physical_path
				);
			</commandText>

			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level:uppercase=true}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=ToString}" />
			<parameter name="@call_site" layout="${callsite}" />
			<parameter name="@thread_id" layout="${threadid}" />
			<parameter name="@user_name" layout="${scopeproperty:userName}" />
			<parameter name="@physical_path" layout="${scopeproperty:physicalPath}" />
			<parameter name="@ip_address" layout="${scopeproperty:ipAddress}" />
			<parameter name="@request_id" layout="${scopeproperty:requestId}" />
			<parameter name="@user_agent" layout="${scopeproperty:userAgent}" />
			<parameter name="@create_date" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
		</target>

		<!-- برای کنسول -->
		<target xsi:type="Console" name="consoleTarget"
				layout="${longdate} | ${level:uppercase=true} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Error" writeTo="sqlServerTarget" />
		<logger name="*" minlevel="Info" writeTo="consoleTarget" />
	</rules>
</nlog>
