@import "tailwindcss"

source(none);
@source "../../**/*.{html,js,razor}";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "lofi";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(97% 0 0);
    --color-base-300: oklch(94% 0 0);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(15.906% 0 0);
    --color-primary-content: oklch(100% 0 0);
    --color-secondary: oklch(97% 0 0);
    --color-secondary-content: oklch(0% 0 0);
    --color-accent: oklch(26.861% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(100% 0 0);
    --color-info: oklch(79.54% 0.103 205.9);
    --color-info-content: oklch(15.908% 0.02 205.9);
    --color-success: oklch(90.13% 0.153 164.14);
    --color-success-content: oklch(18.026% 0.03 164.14);
    --color-warning: oklch(88.37% 0.135 79.94);
    --color-warning-content: oklch(17.674% 0.027 79.94);
    --color-error: oklch(78.66% 0.15 28.47);
    --color-error-content: oklch(15.732% 0.03 28.47);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
@import "./font.css";
@import "./sidebar.css";

*{
    font-family: IranSans;
    border-color: oklch(92.2% 0 0);
}
.bg-border{
    background-color: oklch(92.2% 0 0);
}
.bg-background{
    background-color: oklch(98.5% 0 0);
}
.validation-message{
    @apply text-error
}
.invalid{
    @apply input-error border-error text-error
}
.djs-connection {
    pointer-events: stroke;
    stroke-width: 15px !important; /* ناحیه کلیک رو بزرگ کن */
    stroke-opacity: 0;             /* نامرئی بمونه */
}

.djs-connection > .djs-visual path {
    stroke-width: 2px; /* ظاهر واقعی خط */
    stroke-opacity: 1;
}